<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">   
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/candidates.css">

 <title>Candidates</title>

  
</head>
<body>
    {% include "navigation-bar.html" %}
    <main>
            <div class="rww">
                <div class="col-abt">
                <center>
                    <div class="heading" id="heading">
                    <H1>Meet the Candidates</H1>
                    </div>
                    <div class="Aboutsection">
                       <p>Welcome to the candidates page for <b>Vote.org</b> Here, you can learn about the individuals vying for president in the upcoming election. We believe in providing voters with comprehensive information to make informed decisions, so let's introduce you to the candidates:
                       </p>
                </center>
                </div>
            </div>
            </div>
            
        <section>
                <!--1st row of Candidates-->
            <!--Candidate 1-->
            <section  class="container">
                <div class="box" id="box-1">
                    <img src="../modified_hack/static/images/Cyril Ramaphosa.jpg" alt="Candidate 1">
                    <div class="back" id="back-1">
                                <h3> Cyril Ramaphosa</h3>
                               <p class="details">Political Party Affiliation: African National Congress (ANC)</p> 
                               <p class="details">International Relations: Ramaphosa has been active in international diplomacy, representing South Africa on the global stage and advocating for issues such as climate change, peace, and economic development.</p> 
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--Candidate 2-->
            <section  class="container">
                <div class="box" id="box-2">
                    <img src="../modified_hack/static/images/John St.jpg" alt="Candidate 2">
                    <div class="back" id="back-2">
                                <h3> John Steenhuisen</h3>
                               <p class="details">Political Party Affiliation: Democratic Alliance (DA)</p> 
                               <p class="details">International Relations: Steenhuisen has engaged in international relations, representing the DA's stance on various global issues and advocating for South Africa's interests on the international stage.</p> 

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
              <!--Candidate 3-->
              <section  class="container">
                <div class="box" id="box-1">
                    <img src="../modified_hack/static/images/Malema.jpg" alt="Candidate 3">
                    <div class="back" id="back-3">
                                <h3> Julius Malema</h3>
                               <p class="details">Political Party Affiliation: The leader and founder of the Economic Freedom Fighters (EFF),</p> 
                               <p class="details">International Relations: Malema has expressed support for various international causes, including solidarity with other leftist movements across Africa and the world.</p> 
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                
                    </section>
                    </footer>
                    </div>
    </main>
</body>
</html>
